*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    min-width: 1000px;
    font-weight: 600;
}

/* Utility */
.clearfix{
    display: table;
    content: "";
    clear: both;
}

.container{
    margin: auto;
    width: 80%;
}

.top_nav{
    background-color: #F4F9FD;
}

/* .dbg_bg{
    background-color: blue;
    height: 50px;
} */

.txt_grey{
    color: #32495B;
}

.txt_orange{
    color: #FE775A;
}

.bg_orange{
    background-color: #FE775A;
}

.btn{
    border-radius: 3px;
    padding: 7px;

}

.btn_holo{
    border: 1px solid #FE775A;
    color: #FE775A;
}

.btn_solid{
    background-color: #FE775A;
    color: white;
}

.nav_text{
    font-size: 0.6rem;
    color: #32495B;
}
/* /Utility */

/**********
 HEADER 
 **********/

 /* TOP NAV */
 .left_menu, .right_menu{
    float: left;
    width: 50%;
     
 }

 .top_nav nav div, .top_nav div > ul > li{
    margin: 10px 0px 10px 0;
    display: inline-block;
 }

 .top_nav div > ul > li{
    padding-left: 20px;
 }

 .left_menu div{
    padding-right: 12px;
 }

 .left_menu div:last-child{
    border-left: 1px solid #32495B;
    padding-left: 15px;
 }

 .right_menu{
    text-align: right;
 }

 .right_menu > ul > li{
    list-style: none;
    display: inline-block;
 }

 .right_menu > ul > li > a{
    text-decoration: none;
 }

 li > i{
    color: #47BBCF;
 }
 /* /TOP NAV */

 /* NAV */
 .logo, .menu{
    float: left;
    width: 50%;
 }

 .menu{
    text-align: right;
 }

 .logo{
    margin: 12px 0;
 }

 .logo > img{
    width: 15%;
 }

 .menu > ul > li{
    list-style: none;
    display: inline-block;
    margin: 12px 0px 10px 0;
    padding-left: 18px;
 }

 .menu > ul > li > a{
    text-decoration: none;
    font-size: 0.6rem;
    color: #32495B;
 }
 
 a > .fa-chevron-down{
     padding-left: 5px;
 }

 .jumbotron{
     background-image: url("../img/jumbotron.png");
     background-size: cover;
     background-repeat: no-repeat;
     height: 490px;
     border-bottom: 3px solid #486272;
 }

 .jumb_container{
     width: 48%;
     font-size: 1.5rem;
     padding-top: 50px;
 }

 .jumb_container p{
    padding: 30px 0 30px 0;
    line-height: 20px;
 }

 .jumbo_button{
     text-decoration: none;
     color: white;
     font-size: 0.6rem;
     padding: 15px 25px;;
 }

 .jumb_container h4{
     font-size: 0.5rem;
     font-weight: 600;
     padding-top: 40px;
 }

 


 /* /NAV */



 /**********
 MAIN 
 **********/



/**********
 FOOTER 
 **********/